.projectDetailsPage {

  display: flex;

  flex-direction: column;

  gap: 2rem;
}

.projectHeader {

  background-color: white;

  padding: 2rem;

  border-radius: 16px;
}

.projectHeader h1 {

  margin: 0;

  color: #1e293b;
}

.projectHeader p {

  color: #64748b;
}

.section {

  background-color: white;

  border-radius: 16px;

  padding: 1.5rem;
}

.sectionHeader {

  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: 1.5rem;
}

.sectionHeader button {

  background-color: #0f172a;

  color: white;

  border: none;

  padding: 0.7rem 1rem;

  border-radius: 8px;

  cursor: pointer;
}

.membersGrid,
.tasksGrid {

  display: grid;

  grid-template-columns:
    repeat(auto-fill, minmax(250px, 1fr));

  gap: 1rem;
}

.tasksGrid h3{
  color: #0f172a;
}

.memberCard,
.taskCard {

  border: 1px solid #e2e8f0;

  border-radius: 12px;

  padding: 1rem;

  display: flex;

  flex-direction: column;

  gap: 0.5rem;
}

.memberCard h4,
.taskCard h3 {

  margin: 0;

  color: #1e293b;
}

.memberCard span,
.taskCard span {

  color: #64748b;

  font-size: 0.95rem;
}

.pagination{
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.pagination button{
  background-color: #0f172a;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  padding: 0.5rem 0.8rem;
  transition: background-color 0.2s ease;
}

.pagination button:disabled{
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination span{
  color: #0f172a;
}